.phone {
    align-content: center;
    background-image: url("../images/runner-home.png");
    background-size: 615px;
    background-position: top;
    flex-direction: column;
}
.hello-text-top {
    font-weight: 600;
    font-size: 20px;
    padding-top: 260px;
    text-align: center;
}
.hello-text-bottom {
    font-weight: bold;
    font-size: 30px;
}
.buttons-container {
    margin-top: 20px;
    padding-top: 52px;
}
